.about-me {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #ffffffec;
  overflow: hidden; 
  text-align: center;
}

.about-me-title {
 font-size: 30px;
 color:#000000;
 }

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.about-me-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
 }

.about-me-text {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #000000;
  padding: 0 1rem;
}

/* Medium screens  */
@media (min-width: 768px) {
  .about-me {
    padding: 2rem;
  }

  .about-me-photo {
    width: 140px;
    height: 140px;
  }

  .about-me-text {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .about-me-content {
    max-width: 800px;
  }

  .about-me-photo {
    width: 150px;
    height: 150px;
  }

  .about-me-text {
    font-size: 1.1rem;
    line-height: 1.75;
  }
}
