@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(135deg, #000000, #0e0336);
  color: white;
  border-bottom: 3px solid #ffffff;

}

/* Header Title */
.header-title {
  font-size: 2.5rem;
  font-family: 'Tangerine', cursive;
  font-weight: 400;
  margin: 0;
}

/* Hamburger Icon */
.hamburger {
  display: none; 
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s;
}

/* Show hamburger only on mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .header {
    flex-direction: row;
  }
}
